.jumbotron{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  padding-bottom: 0%;
}

.navbar{
  background-color: #003366;
  font-family: 'Courier Prime', monospace;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5em;
}

.navbar-brand{
  margin-left: 10px;
  font-family: 'Courier Prime', monospace;
  font-family: 'Share Tech Mono', monospace;
  
}

body{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link{ 
  margin: 0px 20px;
  font-size: 1.2em;
}

.big_font{
  font-size: 5em;
  color:#00e6ac;
  font-family: 'Courier New', Courier, monospace;
}

.jumbotron{
  padding: 15%;
  padding-bottom: 1%;
  margin-bottom: 0%;
  color: #00e6ac;
  font-family: 'Courier Prime', monospace;
}

.about_jumbotron{
  background-color: #003366;
  background-image: url('https://wallpaperaccess.com/full/2454628.png');
  background-repeat: no-repeat;
  background-size: cover;
  color:#00e6ac;
}

.zoom:any-link{
  color:#00e6ac;
}

.zoom:any-link:hover{
  color:aqua;
}

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  color: white;
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom2:hover{
  transform: scale(1.1);
  background-color: #080509;
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background-color:  rgba(235, 229, 229, 0);
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #7E57C2;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673AB7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333C42;
  border-radius: 2px;
  padding: 1em;
  .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
  }
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

#bootstrap-overrides {
  background-color: #080509;
  color:#080509;
}

.cd-timeline-content{
  border-radius: 10px;
}

#intro_bootstrap .card{
  border-radius: 45px;
}
#bootstrap-overrides .accordion{
  padding: 20px 100px;
  color: white;
}

#bootstrap-overrides .accordion-button{
  background: linear-gradient(to right, #ffffff 0%, #99ccff 100%);
}

#bootstrap-overrides h4{
  color: #000066;
}

#bootstrap-overrides .centrealign{
  text-align: center;
  padding: 20px;
}
#bootstrap-overrides .animate-character
{
   text-transform: uppercase;
   text-align: center;
   background-image: linear-gradient(
    -225deg,
    #56ace9 0%,
    #00e6ac 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 400px;
  padding-top: 100px;
}

.green{
  background-color: #00e6ac;
  padding-top: 10px;
  padding-left: 0%;
  padding-bottom: 130px;
}

.form-group{
  padding-bottom: 10px;
  width: 250%;
  height: 250%;
  margin-left: 70px;
}

.black{
  background-color: black;
}
.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color:black;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color:#00e6ac;
  transform: translate(-4%, 40%);
}

.contact_body{
  margin: 0;
  background-image: none;
  background-color: black;
  height: 100%;
  overflow-x: hidden;
}

.form-container{
  margin-left: 0px;
  padding-top: 0%;
  margin-right: auto;
  display: inline-block;
}

.parent{
  margin-left: 0%;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align:middle
}
.bunny_img{
  height: 80%;
  width: 50%;
  align-items: right;
  float: right;
  padding-top: 50px;
  padding-bottom: 0%;
}
.contact_h2{
  color: #000066;
  text-align: center;
  width: 250%;
}

.contact_button{
  margin-left: 70px;
  width: 50%;
  display: inline-block;
}

.reset_button{
  width: 50%;
  margin-left: 70px;
  display: inline-block;
}

.child2{
  display: inline-block;
  float: right;
  margin-right: 200px;
}

.hide{
  padding-top: 30px;
  display: none;
}

.my_container{
  background-color: black;
  left: 0px;
  top: 0px;
  text-align: center;
}

.anchor_parent{
  text-align: center;
}
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.a_child{
  display: inline-block;
  text-align: center;
  padding-top: 50px;
}

.a_child:hover + .hide{
  text-shadow: 0px 5px 15px  #CC00FF;
  transform: scale(1.5);
  display:contents;
}

.a_child:hover{
  text-shadow: 0px 5px 15px  #CC00FF;
  transform: scale(1.5);
}
.resume_icon{
  padding-left: 0px;
  margin-left: 0%;
}
.container-card:hover{
  text-shadow: 0px 5px 15px  #CC00FF;
}
.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  
}

.container-card img{
  margin-bottom: 32px;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #31013d, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #31013d, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #31013d, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #31013d, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: white;
  font-size: 16px;
  max-width: 470px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  height: calc(13*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
}
.card_image:before,
.card_image:after{
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}
.card_image:after{
  transform: rotate(-45deg);
  top:auto;
  bottom:-22px;
  left:40%;
}
.card_image img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
}

.card_content {
  padding: 2.25rem;
}

h2.card_title,p {
  margin: 1.2rem 0;
}
h2.card_title {
    font-size: 1.3em;
}